
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

    <!-- x z y -->
    <script src="https://aframe.io/releases/1.0.3/aframe.min.js"></script>
    <!-- include ar.js for A-Frame -->
    <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>

<body>

<div>
    
    <a-scene { display: block; width: 50%; }>
        <a-box position='0 0 0' height=0.20; width=0.30; depth=0.2; material='opacity: 1;' color = "blue"></a-box>
        <a-box position='0 0 0' height=0.001; width=0.325; depth=0.28; material='opacity: 1;' color = "white"></a-box>
        <a-text rotation="-90 0 0" material='opacity: 1;' width=1.9444444444444444 position = "0.2 0.15 0" value="int i = 5;
int ans = add(5,4);"></a-text>

    <a-marker-camera preset='custom' type='pattern' url='/static/arjs_marker.patt'></a-marker-camera>
    </a-scene>

</div>
    </body>
</html>
